<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8" />
  	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  	<!-- Bootstrap CDN -->
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
	<!-- style.css -->
 	 <link rel="stylesheet" type="text/css" href="style.css">
	<title>Picsum Ipsum</title>
</head>
<body>

<div class = "container-fluid">
	<div class="row">
 		<div class="col-md-8 " id="topleft">INSTRUCTIONS/WORKS
 			<div class="row">
 				<div class="col-md-10 col-centered" id="instructions"><br>
 					<button id ="instructionsbutton">Instructions</button>
 					<button id ="howitworksbutton">How it Works</button><br><br>
 					<div class="col-md-10 col-centered" id="innerbox" >
 						sse instruction byte cpu cache processor execute arithmetic integer compiler bits intel conditional stack execution pipeline addressing memory cycles floating executed hardware load clock jury cycle register stored address code how machine input bit data file add processing 
 					</div>

 				</div>
			</div>
		</div>
		<div class="col-md-4" id="topright">SIGNUP/IN
			<div class="row">
 				<div class="col-md-10 col-centered" id="instructions">
 					<br><br>
 				<input type="text" id="username" placeholder="username"><br><br>
 				<input type="text" id="password" placeholder="password"><br><br>
 				<button id = "loginbutton">Log In</button> <button id = "signupbutton">Sign Up</button>
 				</div>
 			</div>
		</div>

	
 		<div class="col-md-8 " id="bottomleft">GENERATOR
 			<div class="row">
 				<div class="col-md-10 col-centered" id="instructions">
 						<h1> ENTER A WORD </h1>
						<input type="text" id="input">
						<button id = "btn">Fetch Ipsum</button><br><br>
						<textarea id = "wordOutput" rows="5" cols="50"></textarea>
 				</div>
			</div>
		</div>
		<div class="col-md-4" id="bottomright">SAVED IPSUMS
			<div class="row">
 				<div class="col-md-10 col-centered" id="instructions"></div>
 			</div>
			
 
 </div>

<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<script type="text/javascript" src="app.js"></script>
</body>
</html>