<!DOCTYPE html>
<html>
<head>
  <meta name="google-signin-client_id" content="403699942499-shndkteujoaf66ikpkc51to9vojs90jn.apps.googleusercontent.com">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8" />
  	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  	<!-- Bootstrap CDN -->
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
	<!-- STYLE.css -->
 	 <link rel="stylesheet" type="text/css" href="style.css">
  <!-- FONTS -->
   <link href="https://fonts.googleapis.com/css?family=Montserrat|Permanent+Marker" rel="stylesheet">
   <!-- GOOGLE AUTH -->
   <script src="https://apis.google.com/js/platform.js" async defer></script>
	<title>Picsum Ipsum</title>
</head>
<body>
 
 <div class="container">
  
  <div class="row">
        <div class="logocol col-md-5 col-sm-12"><img id="logo" src="logo.png"></div>
          
          <div class="titlecol col-md-7 col-sm-12 col-centered " id = "title"><span id="picsum">picsum</span><span id ="ipsum"><span id = 'i'>I</span>PSUM</span></div>
          </div>
  
  </div>
  
        
      
  <div class="row top">
        <div class="instructionscol col-md-2 col-sm-12">
    
        	<span id="headers">Instructions:</span>
          <p>
            
        	     Enter your word and press the 'fetch' button to recieve tailored placeholder text. Then use the copy button to copy your new ipsum to the clipboard.
            
          </p>
          
        </div>
        <div class="generatorcol col-md-7 col-sm-12">
        <div class="col-md-12 col-sm-12 col-centered" id="instructions">
 				    <h2> <span id="bold">enter</span>a<span id="bold">word</span> </h2>
        
        <form>
				    <input type="text" id="input" placeholder="e.g. grass, dog, car">
				    <button type="button" id="btn">FETCH</button>
            <button type="button"  id="copy">COPY</button>
            <button type="clear" id="clear">CLEAR</button>
				    <textarea id ="wordOutput" rows="7"></textarea>
        </form>   
        </div>
        </div>

        <div class="workscol col-md-2 col-sm-12">
        	<span id="headers">How it Works:</span>
          <p>
        	This web app uses a simple api call to <a href="https://www.datamuse.com/api">datamuse</a> to generate it's output text, and javascript to populate it onto the page.<br>
          <a href = "https://github.com/mattsteffey/Picsum-Ipsum">Source Code</a>
          </p>
        </div>
  
  </div>
        <div class="commentcol col-md-12 col-centered" id="commentcol"><center><div id="my-signin2"></div>
  <script>
    function onSuccess(googleUser) {
      console.log('Logged in as: ' + googleUser.getBasicProfile().getId());
    }
    function onFailure(error) {
      console.log(error);
    }
    function renderButton() {
      gapi.signin2.render('my-signin2', {
        'scope': 'profile email',
        'width': 240,
        'height': 50,
        'longtitle': true,
        'theme': 'dark',
        'onsuccess': onSuccess,
        'onfailure': onFailure
      });
    }
  </script>

<a href="#" onclick="signOut();">Sign out</a>
<script>
  function signOut() {
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
      console.log('User signed out.');
    });
  }
</script>

  <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>

<br>
<script src="https://apis.google.com/js/plusone.js"></script>
<div id="comments"></div>
<script async defer>

   function CommentBox (commentsWidth) {
      gapi.comments.render('comments', {
     href: window.location,
     width: commentsWidth,
     first_party_property: 'BLOGGER',
     view_type: 'FILTERED_POSTMOD'
      });
   }

   var containerWidth = document.getElementById('commentcol').offsetWidth;
   CommentBox(containerWidth);

</script>

</center>

</div> 
        









<center><a href ="https://picsumipsum.herokuapp.com/privacy">Privacy Policy</a></center>

<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<script type="text/javascript" src="app.js"></script>
</body>
</html>