#logo {
	height: 200px;
}

#title {
	font-size:300%;

}

.fb-login-button {
}

.titlecol {
	background-color:;
	height: 100px;
}

.logocol {
	height: 200px;
}

.logincol {
	background-color:;
	height: 100px;
}

.instructionscol {
	background-color: #88D317;
	height: 200px;
}

.generatorcol {
	background-color: #6e3667;
	color: white;
	height: 400px;
}

.workscol {
	background-color: #88D317;
	height: 200px;
}

.commentscol {
	background-color: #c1dbe3;
	height: 600px;
}

