#logo {
	height: 200px;
}

#picsum {
	font-size:400% ;
}

#ipsum {
	font-size:400% ;
	position: absolute;
}

.fb-login-button {

}

.logocol {
	background-color:;
	height: 100px;
}

.logincol {
	background-color:;
	height: 100px;
}

.instructionscol {
	background-color: #88D317;
	height: 400px;
}

.generatorcol {
	background-color: #6e3667;
	color: white;
	height: 400px;
}

.workscol {
	background-color: #88D317;
	height: 400px;
}

.savedcol {
	background-color: #9bc5d2;
	height: 200px;
}

.commentscol {
	background-color: #c1dbe3;
	height: 200px;
}

