body {
	background-color: #ededed;
}

h2 {
	text-align: center;
	font-size: 400%;
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	margin-top: 1%

}

p {
	display: block;
	font-family: 'Montserrat', sans-serif;
	font-size: 140%;
	margin-top: 5%;
}

#wordOutput {
    resize: none;
}

#bold {
	font-weight: bold;
}

a {
	font-weight: bold;
}

#input {
	display:block;
	width: 300px;
 	margin: 0 auto;
 	margin-bottom: 1%
}

#btn {
	margin: 1%;
	background: #88D317;
    border: none;
    color: black;
}

#copy {
	background: white;
    border: none;
    color: black;
}

#clear {
    margin: 1%;
    background: #88D317;
    border: none;
    color: black;

}

#logo {
	height: 200px;
	display:block;
    float: right;
    margin-right: 10%
}

#headers {
	font-size: 150%;
	text-align: left;
	font-family: 'Permanent Marker', cursive;
	text-align: center;
}

#title {
	font-size: 500%;
	margin-left: -15%;
	padding-top:5%;
	font-family: 'Montserrat', sans-serif;
}

#ipsum {
	font-weight: bold;
}

#wordOutput{
	display:block;
	width: 60%;
	margin: 0 auto;
	display: block;
	margin-top: 3%;
}

.top {
	margin-left:5%;

}

.titlecol {
	background-color:;
	text-align: left;
	height: 100px;
	margin-top: 5%;

}

.logocol {
	height: 200px;
	margin-top: 5%;
}

.logincol {
	background-color:;
	height: 100px;

}

.instructionscol {
	background-image: url("books.png");
	height: 400px;
	border: 3px solid #1a0315;
}

.generatorcol {
	/*background: linear-gradient(to bottom, #1a0315, #6217d3);*/
	background-image: url("bg.png");
	color: white;
	height: 400px;
	margin-bottom: 3%;
	border: 10px solid #1a0315;
	text-align: center;
}

.workscol {
	background-image: url("gears.png");
	height: 400px;
	margin-right: 5%;
	border: 3px solid #1a0315;
}

.commentscol {
	height: 600px;
	margin-top: 5%;
}


@media only screen and (max-width: 768px) {

#input {
	width: 90%;
 	margin: 0 auto;
}

#ipsum {
    display: block;
    line-height: 50%;
 }

 #headers {
	font-size: 250%;
}

p {
	font-size: 100%;
}

h2 {
	font-size: 300%;
}

.workscol {
	margin-right: 0%;
	margin-top: 0%;
	margin-bottom: 3%;
	height: 200px;

}

.instructionscol {
	margin-top: 30%;
	height: 200px;
}

.titlecol {
	height: 100px;
	margin-top: -5%;
}

.logincol {
	background-color:;
	height: 0px;
}

#logo {
    float: none;
    margin-left: 0%;
}

#title {
	text-align: center;
	margin-left: 0%;
	padding-top: 0%;
}

#wordOutput {
width: 90%;
}

.top {
	margin-left:0%;
	margin-right:0%;
}

.generatorcol {
	margin-bottom: 0%;
}