#logo {
	height: 200px;
	display:block;
    float: right;
    margin-left: -5%
}

#title {
	font-size: 500%;
	margin-left: -10%;

}

#ipsum {
	font-weight: bold;
}

.top {
	margin-left:5%;
	margin-right:5%;
}

.titlecol {
	background-color:;
	text-align: left;
	height: 100px;
	margin-top: 5%;

}

.logocol {
	height: 200px;
	margin-top: 5%;
}

.logincol {
	background-color:;
	height: 100px;

}

.instructionscol {
	background-color: #88D317;
	height: 400px;
}

.generatorcol {
	background-color: #6e3667;
	color: white;
	height: 400px;
	margin-bottom: 3%;
}

.workscol {
	background-color: #88D317;
	height: 400px;
	margin-right: 5%;
}

.commentscol {
	background-color: #c1dbe3;
	height: 600px;
	margin-top: 5%;
}

@media only screen and (max-width: 768px) {
#ipsum {
    display: block;
    line-height: 50%;
 }

.workscol {
	margin-top: 10%;
	height: 200px;
}
.instructionscol{
	margin-top: 30%;
	height: 200px;
}

.titlecol {
	height: 100px;
	margin-top: -5%;
}

.logincol {
	background-color:;
	height: 0px;
}

#logo {
    float: none;
    margin-left: 0%;
}

#title {
	text-align: center;
	margin-left: 0%;
}

.top {
	margin-left:0%;
	margin-right:0%;
}