.logocol {
background-color: #27423b;
height: 200px;
}

.logincol {
background-color: #325656;
height: 200px;
}

.instructionscol {
background-color: #5f8c96;
height: 500px;
}

.generatorcol {
background-color: #6ca1b2;
height: 500px;
}

.workscol {
background-color: #83b7c7;
height: 500px;
}

.savedcol {
background-color: #9bc5d2;
height: 200px;
}

.commentscol {
background-color: #c1dbe3;
height: 200px;
}

