* {
 	text-align: center;
}

h1 {
	font-size: 400%;
}

h2 {
	font-size: 200%;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

#innerbox {
	background-color: lightgray;
	height: 150px;

}

#instructions {
	background-color: white;
	height:250px;
}

#topleft {
	background-color: gray;
	height: 300px;
	margin: 0;
}

#topright {
	background-color: gray;
	height: 300px;
}

#bottomleft {
	background-color: gray;
	height: 300px;
}

#bottomright {
	color: white;
	background-color: gray;
	height: 300px;
}

