h2 {
	text-align: center;
	font-size: 400%;
	font-family: 'Permanent Marker', cursive;
}

p {
	display: block;
	font-family: 'Permanent Marker', cursive;
}

#logo {
	height: 200px;
	display:block;
    float: right;
    margin-left: -5%
}

#headers {
	font-size: 180%;
	font-weight: bold;
	text-align: left;
}

#title {
	font-size: 500%;
	margin-left: -10%;

}

#ipsum {
	font-weight: bold;
}

#wordOutput{
	width: 60%;
	position: absolute;
	margin: 0 auto;
}

.top {
	margin-left:5%;

}

.titlecol {
	background-color:;
	text-align: left;
	height: 100px;
	margin-top: 5%;

}

.logocol {
	height: 200px;
	margin-top: 5%;
}

.logincol {
	background-color:;
	height: 100px;

}

.instructionscol {
	background-image: url("books.png");
	height: 400px;
	border: 3px solid #1a0315;
}

.generatorcol {
	background-color: #6e3667;
	color: white;
	height: 400px;
	margin-bottom: 3%;
}

.workscol {
	background-image: url("gears.png");
	height: 400px;
	margin-right: 5%;
	border: 3px solid #1a0315;
}

.commentscol {
	height: 600px;
	margin-top: 5%;
}


@media only screen and (max-width: 768px) {
#ipsum {
    display: block;
    line-height: 50%;
 }

.workscol {
	margin-right: 0%;
	margin-top: 0%;
	margin-bottom: 3%;
	height: 200px;

}
.instructionscol{
	margin-top: 30%;
	height: 200px;
}

.titlecol {
	height: 100px;
	margin-top: -5%;
}

.logincol {
	background-color:;
	height: 0px;
}

#logo {
    float: none;
    margin-left: 0%;
}

#title {
	text-align: center;
	margin-left: 0%;
}

#wordOutput {
width: 90%;
}

.top {
	margin-left:0%;
	margin-right:0%;
}

.generatorcol {
	margin-bottom: 0%;
}